# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual env
venv/
env/
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Secrets
.env
.env.prod
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
